<header class = "masthead">
  <nav class='language-nav'>
    <ul>
      <li> CSS </li>
      <li> HTML </li>
      <li> JAVASCRIPT </li>
      <li> RUBY </li>

    </ul>

  </nav>

  <img class="logo" src="assets/AA_Times_Logo.png" alt="App Academy Times">

</header>
